build/
node_modules/
.exercism/
.pytest_cache/
__pycache__/
.vscode/
*.yaml
.eslintrc
.DS_Store
cpp-test/
CMakeLists.txt
.dart_tool/
.packages
.gradle/
.settings/
bin/
.classpath
.project
.keep
go/test
tests.out
.editorconfig
obj/
.idea
out/
*.iml
*.properties
memcheck.*